People {{ people.length | json}} <br>
Films {{ films.length | json}} <br>
Planets {{ planets.length | json}} <br>
Species {{ species.length | json}} <br>
Starships {{ starships.length | json}} <br>
Vehicles {{ vehicles.length | json}} <br>

<div class="min-h-screen flex items-center justify-center">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-5">
    <ng-container *ngFor="let p of people">
      <div *ngIf="p.gender === 'male'" class="bg-green-100 text-green-500 text-lg font-bold text-center p-10 rounded-lg">
        {{p.name}}
      </div>
      <div *ngIf="p.gender === 'female'" class="bg-pink-100 text-pink-500 text-lg font-bold text-center p-10 rounded-lg">
        {{p.name}}
      </div>
      <div *ngIf="p.gender !== 'female' && p.gender !== 'male'" class="row-span-2 bg-gray-100 text-gray-500 text-lg font-bold text-center p-10 rounded-lg">
        {{p.name}} <br>
        <span class="text-base text-sm font-light text-left">
          starships: {{p.starships.length}} <br>
          vehicles: {{p.vehicles.length}}<br>
          species: {{p.species.length}}
        </span>
      </div>
    </ng-container>
  </div>
</div>




{{ people[0] | json}}
